* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body, textarea, input {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 0 10rem;
    /* max-width: 1400px; */
    margin: 0 auto;
    
}
.job-container{
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/4064835/pexels-photo-4064835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    z-index: 11;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(10px);
    padding: 0rem 2rem;
}

.nav-items {
    display: flex;
}

.nav-item a {
    height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    /* display: inline-block; */
    margin-right: 20px;
    /* margin-right: 20px; */
    height: 100%;
    color: white;
}

.nav-item a:hover {
    border-bottom: 4px solid white;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: transform ease 0.3s;
}


.btn:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: rgb(11, 74, 156);
}
/* HERO */

.hero .container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    padding: 0 9rem;
    background-image:url('https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.hero-left {
    flex: 1;
    width: 100vw;
    text-align: left;
    max-width: 600px;
}
.hero-title{
    font-size: 4rem;
}
.hero-right {
    flex: 1;
}

.hero-desc {
    padding-top: 20px;
}

.hero .cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    width: 450px;
}   
.get-started-btn{
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 0.95rem 2rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: transform ease 0.3s;
}
.search-bar{
    width: 100%;
}

.search-bar input{
    display: inline-block;
    width: 100%;
    padding:0.9rem 1rem ;
    border: 0.3px solid gray;
    border-radius: 30px;
}
.search-bar input:focus{
    outline: none;
}
.hero-right-image {
    height: 100vh;
    width: 1200px;
    position: absolute;
    top: -100px;
    right: -100px;
    /* --rotate-img : 20deg; */
    /* transform: rotate(var(--rotate-img)); */
    border-radius: 90px;
    overflow: hidden;
    background-image: linear-gradient( 30deg, #7f6ce7, #a598ee);
    /* background-color: #a598ee; */
}
.hero-right-image img{
    /* transform: rotate(var(--rotate-img) * -1); */
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

/* LOGIN */

.signup .container {
    background-image: url('https://images.pexels.com/photos/3184296/pexels-photo-3184296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.login .container {
    background-image: url('https://images.pexels.com/photos/3184296/pexels-photo-3184296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.signup-form-wrapper {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.signup-form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    padding: 2rem;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.login-form-wrapper {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    width: 400px;
    padding: 2rem;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
}

form .form-item, .form-listJob form li {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: inline-block;
    margin: 5px 0px;
}

.form-button {
    width: 100%;
}

.form-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 30px 0px 20px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.form-input {
    height: 40px;
    width: 100%;
    padding: 0.1rem 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    border-left: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Services */

section {
    margin: 3rem 0;
}

section h3 {
    text-align: center;
    font-size:2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-items {
    display: flex;
    min-width: 600px;
    /* width: 800px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.services-item {
    margin: 1rem;
    /* padding: 5rem; */
    height: 180px;
    width: 180px;
    border-radius: 10px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transition: all ease 300ms;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.24);
}
.services-item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.090);
}

.services-item p {
    margin-top: 12px;
}

.services .fa {
    font-size: 2.5rem;
}

/* motto */

.motto-wrapper {
    height: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
}
.motto-text{
    color: rgb(255, 255, 255);
}
/* footer */

footer {
    height: 260px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: white;
}

.footer-el {
    margin: 1rem;
}

/*job form*/

.form-listJob {
    height: 100vh;
    width: 100%;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fglobalnews.ca%2Fnews%2F5043169%2Fopen-co-working-office-space-individual-independent-desks-cubicles%2F&psig=AOvVaw2JGNOCVr2QYFMjrWNnRJX_&ust=1613561122510000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjtkeOl7u4CFQAAAAAdAAAAABAL');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-listJob form {
    width: 700px;
}

/* job items */
/* .row{
    background-image: url('https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
} */
.job-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.job-item {
    margin: 2rem;
    height: 240px;
    width: 900px;
    padding: 1.5rem 3rem;

    height: 200px;
    width: 60%;
    padding: 1.5rem;

    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

    
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.495);
    transition: all ease 300ms;
}
.job-item-title{
    margin-bottom: 14px;
}
.job-item:hover   {
    box-shadow: 1px 4px 22px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.2);
    background-color:white;
    

}
.job-item>p {
    margin-bottom: 10px;
}

.job-category-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.job-category-wrapper .job-item-category {
    font-size: 0.8rem;
}

.job-category {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 15px;
    margin: 14px;
    border-radius: 30px;
    background-color: #eee;
    color: black;
    border: 1px solid #fff;
}

.job-item-title {
    color: rgb(4, 31, 114);
    font-weight: bolder;
}
.job-item-cta{
    margin-top: 20px;
    
}

.seekerDashboard{
    background-image: url('https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#id_user{
    display: none;

}
 label[for='id_user']{
    display: none;
    
}
input[type=submit] {
    border: none;
    height: 10px;
    width: 10px
  }




  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }




  
/*test css-------------------------------------------------------------------------test css*/



.wrapper {
    margin-top:5%;
    margin-left:30%;
    width: 700px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
    overflow: hidden;
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    color: rgba(57, 50, 173, 1)
}

.form {
    width: 700px;
}

.myform {
    background: #F4F5F7;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

.myform label {
    display: block;
    color: #A8AAC5;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 10px;
}

.myform input {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-size: .9rem;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

.full-width {
    grid-column: -1 / 1
}

.button {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
}

.button button {
    border: 0;
    outline: 0;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
    background: linear-gradient(356deg, rgba(57, 50, 173, 1) 0%, rgba(87, 50, 173, 1) 100%);
}
select {
  background-color: #3c4366;
  color: white;
  padding: 12px;
  width: 300px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}




.button button:hover {
    background: rgba(57, 50, 173, 1);
}



/*test css-------------------------------------------------------------------------test css*/



/*test css-------------------------------------------------------------------------test css*/
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #33ffcc1f;
	border-radius: 30px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to bottom, #33ccff 0%, #66ff33 100%);
	border-radius: 30px;
	transition: .5s;
}

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to bottom, #33ccff 0%, #66ff33 100%);
	border:0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute; 
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}


/*test css-------------------------------------------------------------------------test css*/

