{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <nav>
        <div class="logo"></div>
        <ul class="nav-items">
        
            <li class="nav-item"><a href="/"> Home</a></li>
            <li class="nav-item"><a href="../login"> Login</a></li>
            <li class="nav-item"><a href=""> Signup</a></li>
        </ul>
    </nav>
    <main class="signup">
        <div class="container">
           <div class="signup-form-wrapper">
            <form action="{% url 'recruiter' %}" method="post">
                {% csrf_token %}
                
                <div class="form-item">
                    <input type="text" class="form-input" name="company_email" placeholder="Company Email">
                </div>
                <div class="form-item">
                    <input type="password" class="form-input" name="password1" placeholder="Password">
                </div>
                <div class="form-item">
                    <input type="password" class="form-input" name="password2" placeholder="Confirm Password">
                </div>
                
                <div class="form-item">
                    <input type="text" class="form-input" name="company_name" placeholder="Company Name">
                </div>
                <div class="form-item">
                    <input type="text" class="form-input" name="company_number" placeholder="Company Number">
                </div>
                <div class="form-item">
                    <input type="text" class="form-input" name="location" placeholder="location">
                </div>
                <div>
                    <label for="types">Company Type:</label>
                       <select name="types" id="types">
                           <option value="technology">Technology</option>
                           <option value="construction">Construction</option>
                           <option value="government">Government</option>
                           <option value="financce">Finance</option>
                           
                       </select>
                   </div>
                <div class="form-item">
                    <input type="text" class="form-input" name="personal_name" placeholder="Contact Personal Name">
                </div>
                <div class="form-item">
                    <input type="text" class="form-input" name="contact" placeholder="Personal Contact number">
                </div>
                <div class="form-item">
                    <input type="email" required="true" class="form-input" name="email" placeholder="Personal Email">
                <div class="form-item">
                    <input type="submit" name="submit" class="form-button btn btn-primary" value="Signup">
                </div>
                <p>Already a member? <a href="../login">Login</a></p>
                <div style="height: 10px;">
                    {% for message in messages %}
                    <h1>{{message}}</h1>
                    {% endfor %}
                </div>
            </form>
           </div>
        </div>
    </main>
    
</body>
</html>